<% include ./partials/header %>


<div class = "container" style = "margin-top: 35px;">
    <div class= "row">
         <div style = "width: 45%; margin: 0 auto">
            <div class = "">
               <h1 class = "spH1" style = "font-size: 30px; color: #2c3e50;">Add Property</h1>
             <form action = "/add_property" method = "post">
<!--                  <div class = "form-group">
                    <input class = "form-control" type="text" name = "propertyname" placeholder = "Property Name" required>                 
                 </div> -->
                 <div class = "form-group">
                    <input class = "form-control" type="text" name = "streetno" placeholder = "Street #" required>
                 </div>
                
                 <div class = "form-group">
                    <input class = "form-control" type="text" name = "streetname" placeholder = "Street Name" required>
                 </div>

                 <div class = "form-group">
                    <input class = "form-control" type="text" name = "city" placeholder = "City" required> 
                 </div>

                 <div class = "form-group">
                    <input class = "form-control" type="text" name = "state" placeholder = "State" required> 
                 </div>

                 <div class = "form-group">
                    <input class = "form-control" type="number" name = "zipcode" placeholder = "Zip Code" required> 
                 </div>                                  
                            
                 <div class = "form-group">
                    <input class = "form-control" type="text" name = "sellername" placeholder = "Seller Name" required>
                 </div>
                 
                 <div class = "form-group">
                    <input class = "form-control" type="email" name = "selleremail" placeholder = "Seller Email" required>                 
                 </div>
                


<!--                 <div class = "form-group">
                    <div id="basedinkentucky">
                      <select name = "basedinkentucky" class="form-control">
                        <option name = "basedinkentucky" value = "#">Is the property Based in Kentucky ?</option>
                        <option value = "Yes">Yes</option>
                        <option value = "No">No</option>
                      </select>
                    </div>
                </div> -->

                 <div class = "form-group">
                    <input class = "btn btn-primary btn-block" type = "submit" value  = "Add Property">                 
                </div>
             </form>    
            </div>     
         </div>
    </div>
</div>

<!--<h1>SignUp</h1>-->

<!--<form action = "/register" method = "post">-->
<!--    <input type="text" name = "username" placeholder = "Username">-->
<!--    <input type="password" name = "password" placeholder = "Password">-->
<!--    <input type = "submit" value  = "Signup!!">-->
<!--</form>-->

<% include ./partials/footer %>
