<% include ./partials/header %>
<style type="text/css">
    form {
        display: inline;
    }
</style>

<div class ="row text-center">
    <h3>Please change Current Password or Request a new Password</h3>
    <br>
    <a href="/change_password" class="btn btn-primary" style="width: 170px;">Change Password</a> &nbsp; &nbsp;
    <a href="/request_password" class="btn btn-primary" style="width: 170px;">Request New Password</a> &nbsp; &nbsp;
</div>

<% include ./partials/footer %>