<% include ./partials/header %>
<div class = "container">
    <header class = "jumbotron">
        <div class = "container">     
            <h2>Welcome to Mink Realty</h2>
            <p>Agents, send offer to listing agent & owner at the same time.</p>
            
        </div>
    </header>
	<div class ="row text-center" style= "display: flex; flex-wrap: wrap">
	    <% foundProperty.forEach(function(property){ %>
	        <div class ="col-md-3 col-sm-6">
	            <div class = "thumbnail spthumbnail">
	                <a href="confirm/<%= property._id %>" class="caption btn btn-light btn-lg" role="button"> <%= property.propertynic %> </a>
	            </div>                    
	        </div>
	    <% }); %>    
	</div>  
</div>

<% include ./partials/footer %>